body {
background-color:rgb(135, 131, 246);
max-width: 600px;
margin:auto;
}

.header {
background-color:rgb(214, 255, 157);
padding: 20px;
margin-bottom: 20px
}

.fish-links {
background-color:rgb(156, 255, 255);
padding: 20px;
margin-right: 20px;
}

.main-content {
    display: flex;
}

.main {
display: flex;
background-color: azure;
padding: 20px;

}

.footer {
background-color:rgb(255, 197, 253);
padding: 20px;
margin-top: 20px;
}